* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-item a {
  color: rgb(4, 4, 18);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.nav-item a:hover {
  color: rgb(33, 7, 61);
}
